[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-protos = "*"
websocket-client = "*"
urllib3 = "*"
pexpect = "*"
python-magic = "*"
pyinstaller = ">=6"
emoji = "*"
soundfile = "*"
pysocks = "*"
python-socks = "*"
soundcard = "*"

[dev-packages]
pillow = "*"
av = "*"
numpy = "*"

[requires]
python_version = "3.13"
