[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-protos = "*"
websocket-client = "*"
urllib3 = "*"
pexpect = "*"
python-magic = "*"
pyinstaller = ">=6"

[dev-packages]
pillow = "*"
pyav = "*"
pyaudio = "*"
numpy = "*"

[requires]
python_version = "3.13"
